/* ---- ALL ---- */
:root {
    --black: #424242;
    --grey: #d3d3d3;
    --light-grey: #f0f0f0;
    --cream: #FEFBEA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    height: 100vh;
}